<h3>
Property details are as follows:<br><br>
<%= @property.propertyname %><br>
<%= @property.description %><br>
<%= @property.location %><br>
<%= @property.email %><br>
</h3>

<h4>Edit your property below:</h4>
<form method="post" action="/properties/<%= @property.id %>">
	<input name="_method" type="hidden" value="patch">
	Property name: <textarea name="property[propertyname]"><%= @property.propertyname %></textarea><input type="submit" value="Update"><br>
	Description: <textarea name="property[description]"><%= @property.description %></textarea><input type="submit" value="Update"><br>
	Location: <textarea name="property[location]"><%= @property.location %></textarea><input type="submit" value="Update"><br>
	Contact email: <textarea name="property[email]"><%= @property.email %></textarea><input type="submit" value="Update"><br>
</form>

<form method="get" action="/properties/<%= @property.id %>">
  <button>Back</button>
</form>