<a href="/mainpage">
	<button>Back to mainpage</button>
</a>

<% if @property %>
	<h1><a href="/properties/<%= @property.id %>"><%= @property.propertyname %></a></h1><br>
  <% if session[:user_id] == @property.user.id %>
  	<form method="post" action="/properties/<%= @property.id %>">
      <input name="_method" type="hidden" value="delete"/>
      <button>Delete</button>
    </form>
    <a href="/properties/<%= @property.id %>/edit">
      <button>Edit</button>
    </a>
  <% end %>
	<h4>Description: <%= @property.description %></h4>
	<h4>Location: <%= @property.location %></h4>
	<h4>Contact details: <%= @property.email %></h4>
	<h5>Posted by: <%= @property.user.fullname %></h5>

	<a href="/properties">
		<button>More Properties!</button>
	</a>

	<a href="/properties/<%= @property.id %>/bookings">
		<button>Book!</button>
	</a>

	<form method="post" action="/property/<%= @property.id %>/comments">
    <input type="text" placeholder="Write your comments" name="comment">
    <input type="submit" value="Write Comment">
  </form>

	<% @property.comments.each do |a| %>
    <p><%= a.comments %></p>
    <h5>Posted by: <%= a.user.fullname %></h5>
    <% if session[:user_id] == a.user.id %>
      <form method="post" action="/comments/<%= a.id %>">
        <input name="_method" type="hidden" value="delete"/>
        <button>Delete</button>
      </form>

      <a href="/comments/<%= a.id %>/edit">
        <button>Edit</button>
      </a>
    <% end %>
  <% end %>

<% else %>

	<% @properties.each do |x| %>
    <ul>
      <li>
      	<h4><a href="/properties/<%= x.id %>" target="_blank"><%= x.propertyname %></a> at <%= x.location %></h4>
      </li>
    </ul>
  <% end %>

<% end %>

